<nav class="navbar sticky-top navbar-dark bg-dark">
  <form class="form-inline">
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('hunting')"
    >
      hunting
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('fishing')"
    >
      fishing
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('discovery')"
    >
      discovery
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('foraging')"
    >
      foraging
    </button>
    <button class="btn btn-dark" type="button" (click)="filterCategory('telt')">
      telt
    </button>
    <button class="btn btn-dark" type="button" (click)="filterCategory('tack')">
      tack
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('companions')"
    >
      companions
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('cosmetic')"
    >
      cosmetic
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('breeding')"
    >
      breeding
    </button>
    <button class="btn btn-dark" type="button" (click)="filterCategory('geno')">
      geno
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('reveal')"
    >
      reveal
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('calendar')"
    >
      calendar
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('event')"
    >
      event
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('trait')"
    >
      trait
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterCategory('currency')"
    >
      currency
    </button>
    <button class="btn btn-dark" type="button" (click)="filterCategory('misc')">
      misc
    </button>
  </form>
</nav>
<div>
  <input
    type="text"
    placeholder="Search"
    [(ngModel)]="input"
    (keyup.enter)="searchItem(input)"
  />
  <button (click)="searchItem(input)">Search</button>
</div>

<section class="flexy">
  <article class="Mybox">
    <table>
      <thead>
        <tr>
          <th>Items</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of database">
          <td>{{ item.name | titlecase }}</td>
          <td>({{ item.price }})</td>
          <td>
            <button
              class="btn btn-secondary btn-sm"
              (click)="addOrStash(item, 'false')"
              [disabled]="Comment.length >= 5"
            >
              Sell
            </button>
            <button
              class="btn btn-secondary btn-sm"
              (click)="addOrStash(item, 'true')"
              [disabled]="Comment.length >= 5"
            >
              Stash
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
  <article class="Mybox">
    <div class="btn-container">
      <button
        class="btn btn-danger btn"
        (click)="newComment()"
        [disabled]="Comment.length >= 5 || buttonDisabled"
      >
        New
      </button>
      <button class="btn btn-danger btn" (click)="clearAll()">Reset</button>
    </div>
    <ul>
      <li *ngFor="let item of currentRedeem">
        <button class="btn btn-danger btn-sm" (click)="addQty(item)">+</button>
        <button class="btn btn-danger btn-sm" (click)="minusQty(item)">
          -
        </button>
        {{ item.qty }} {{ item.itemType.name | titlecase }}
        <span *ngIf="item.isStashed">(STASHED)</span>
        <span *ngIf="!item.isStashed"
          >({{ item.itemType.price * item.qty }})</span
        >
      </li>
    </ul>
  </article>
  <article class="Mybox">
    <div *ngFor="let item of Comment; let i = index">
      <br />
      <p><b>Admin comment :</b></p>
      <p><b>Items :</b></p>
      <ul>
        <li *ngFor="let lootItem of item.loot">
          x{{ lootItem.qty }} {{ lootItem.itemType.name | titlecase }}
          <span *ngIf="lootItem.isStashed">(STASHED)</span>
          <span *ngIf="!lootItem.isStashed"
            >({{ lootItem.itemType.price * lootItem.qty }})</span
          >
        </li>
      </ul>

      <p><i>Subtotal </i> : {{ item.subtotal }} beads</p>
    </div>
    <p>---</p>
    <p><b>Total beads :</b> {{ TotalBeads() }} beads</p>
    <p><b>Total stashed items :</b></p>
    <ul>
      <ng-container *ngFor="let item of processedItems()">
        <li *ngIf="item.isStashed">
          <span>{{ item.qty }} x {{ item.itemType.name | titlecase }}</span>
        </li>
      </ng-container>
    </ul>
  </article>
</section>
