<section class="flexy">
  <article class="Mybox">
    <h3>Sire</h3>
    <textarea
      name="sire"
      id=""
      cols="30"
      rows="10"
      [(ngModel)]="sireInput"
    ></textarea>
    <button class="btn btn-danger" (click)="rollBreeding(sireInput, damInput)">
      testing area
    </button>
    <h3>Dam</h3>
    <textarea
      name="dam"
      id=""
      cols="30"
      rows="10"
      [(ngModel)]="damInput"
    ></textarea>
  </article>
  <article class="Mybox">
    <h3>Offspring :</h3>
    <ul *ngFor="let pups of offspring">
      <li>
        {{ pups.baseCoat.name | titlecase }} with
        <span *ngFor="let marking of pups.markings"
          >{{ marking.name | titlecase }},
        </span>
      </li>
      <li><b>Mane Type:</b> {{ pups.mane }}</li>
      <li><b>Tail Type:</b> {{ pups.tail }}</li>
      <li>
        <b>Mutation:</b>
        <span *ngFor="let mut of pups.mutation">
          {{ mut.name | titlecase }},
        </span>
      </li>
    </ul>
  </article>
</section>
