/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

$mainbg: #ac8563;
$boxbg: #b89779;
$border: #3c3434;
$button: #c1a58b;
$danger: #764836;
$dangerHover: #5d2d1a;
$dangerDisabled: rgb(128, 115, 110);

html body {
  background-color: $mainbg;
  font-family: "Comfortaa";
}

nav ul {
  list-style: none;
  display: block;
}

li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: "Neucha";
}

.flexy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Mybox {
  background-color: $boxbg;
  border: 2px solid $border;
  border-radius: 10px;
  height: fit-content;
  width: 100%;
  padding: 1%;
  margin: 1%;
}

nav {
  background-color: $border;
}

.btn-secondary {
  background-color: $button;
  color: black;
  border: 1px solid $border;
}

.btn-secondary:hover {
  background-color: #937f6d;
}

.btn-danger {
  margin: 0.5%;
  background-color: $danger;
  border: none;
}

.btn-danger:hover {
  background-color: $dangerHover;
}

.btn-danger:disabled {
  background-color: $dangerDisabled;
}
