<nav class="navbar sticky-top navbar-dark bg-dark">
  <form class="form-inline">
    <button class="btn btn-dark btn-xl" (click)="hideAll()">
      Hide item list
    </button>
    <button class="btn btn-dark" type="button" (click)="getTraits()">
      Traits
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterByCategory('tack')"
    >
      Tack
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterByCategory('trials')"
    >
      Trials
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterByCategory('companions')"
    >
      Companions
    </button>
  </form>
</nav>

<section class="flexy">
  <article class="Mybox">
    <table class="option-bar">
      <tbody>
        <tr>
          <td>
            <p>Click the navbar items to display the list of tack/traits/etc</p>
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="setupBeast(id)"
              [disabled]="!id"
            >
              show forms
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="clearAll()">
              Clear All
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</section>

<section class="flexy" [ngClass]="{ toggleHide: isHidden }">
  <article class="Mybox" *ngFor="let activity of activities" id="prehi-forms">
    <h3 class="text-center">{{ activity | titlecase }}</h3>
    <p><b>Import:</b></p>
    <p><b>Tracker:</b></p>
    <p><b>Nickname:</b></p>
    <p><b>Attempt to tame wild:</b> yes/no</p>
    <p><b>Relevant Items/Bonuses:</b></p>
    <ul>
      <li><u>Monthly Bonus (if relevant)</u></li>
      <div></div>
      <li *ngFor="let item of tackResult(activity)">
        <u>{{ item.name }}</u>
      </li>
    </ul>
  </article>
</section>
<section class="flexy">
  <article class="Mybox">
    <table>
      <thead>
        <tr>
          <th>Items</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allItems">
          <td>{{ item.name | titlecase }}</td>
          <td>
            <button class="btn btn-danger" (click)="addTack(item, 1000)">
              Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
  <article class="Mybox">
    <p
      class="text-center"
      *ngIf="message"
      style="color: brown; font-style: italic"
    >
      {{ message }}
    </p>
    <table>
      <thead></thead>
      <tbody>
        <tr>
          <td><b>Beast info</b></td>
          <td>
            <input
              type="text"
              placeholder="beast name"
              [(ngModel)]="beastName"
            />
            <br />
            <input type="text" placeholder="ID - ex: D1023" [(ngModel)]="id" />
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="setupBeast(id)"
              [disabled]="!id"
            >
              show forms
            </button>
          </td>
        </tr>
        <tr>
          <td><b>Equipped items</b></td>
          <td>
            <ul>
              <li *ngFor="let item of selectedTack">
                {{ item.name }}
                <button (click)="removeTack(item)" class="btn btn-danger">
                  remove
                </button>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
