<nav class="navbar sticky-top navbar-dark bg-dark">
  <form class="form-inline">
    <button class="btn btn-dark btn-xl" (click)="hideAll()">
      Hide item list
    </button>
    <button class="btn btn-dark" type="button" (click)="getTraits()">
      Traits
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterByCategory('tack')"
    >
      Tack
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterByCategory('trials')"
    >
      Trials
    </button>
    <button
      class="btn btn-dark"
      type="button"
      (click)="filterByCategory('companions')"
    >
      Companions
    </button>
  </form>
</nav>

<section class="flexy">
  <article class="Mybox">
    <table class="option-bar">
      <tbody>
        <tr>
          <td>
            <p>Click the navbar items to display the list of tack/traits/etc</p>
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="toggleVisibility()"
              [disabled]="!isValidId()"
            >
              show forms
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="clearAll()">
              Clear All
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</section>

<section class="flexy" [ngClass]="{ toggleHide: isHidden }">
  <article class="Mybox" *ngFor="let activity of activities" id="prehi-forms">
    <h3 class="text-center">{{ activity | titlecase }}</h3>
    <p><b>Import:</b> [{{ beastName }} {{ id | uppercase }}]</p>
    <p><b>Tracker:</b> [Activity tracker]</p>
    <p><b>Nickname:</b></p>
    <p><b>Attempt to tame wild:</b> yes/no</p>
    <p><b>Relevant Items/Bonuses:</b></p>
    <ul>
      <li><i>Monthly Bonus (if relevant)</i></li>
      <li *ngIf="activity === advantage"><i>species advantage</i></li>
      <li *ngIf="activity === disadvantage"><i>species disadvantage</i></li>
      <li *ngIf="disadvantage">---</li>

      <div></div>
      <li *ngFor="let item of tackResult(activity)">
        <i>{{ item.name }}</i>
      </li>
    </ul>
  </article>
</section>
<section class="flexy">
  <article class="Mybox">
    <table>
      <thead>
        <tr>
          <th>Items</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of displayedItems">
          <td>{{ item.name | titlecase }}</td>
          <td>
            <button class="btn btn-danger" (click)="addTack(item, 1000)">
              Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
  <article class="Mybox">
    <p
      class="text-center"
      *ngIf="message"
      style="color: brown; font-style: italic"
    >
      {{ message }}
    </p>
    <table>
      <thead></thead>
      <tbody>
        <tr>
          <td><b>Beast info</b></td>
          <td>
            <input
              id="beast"
              type="text"
              placeholder="beast name"
              [(ngModel)]="beastName"
              required
            />
            <label for="beast">beast name</label>
            <br />
            <input
              id="beastId"
              type="text"
              placeholder="ID - ex: D1023"
              [(ngModel)]="id"
              pattern="^[sddeumtwSDDEUMTW][0-9]+$"
              (input)="onInput($event)"
              required
            />
            <label for="beastId">beast ID</label>
            <div *ngIf="!isValidId()" style="color: brown; font-style: italic">
              Invalid beast Id. note: Ancient not implemented yet.
            </div>
          </td>
        </tr>
        <tr>
          <td><b>Equipped items</b></td>
          <td></td>
        </tr>
        <tr *ngFor="let item of selectedTack">
          <td>
            {{ item.name }}
          </td>
          <td class="td-btn">
            <button (click)="removeTack(item)" class="btn btn-danger">
              remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
