nav {
  justify-content: center;
}

.toggleHide {
  display: none;
}

.toggleView {
  display: block;
}

.option-bar {
  justify-content: space-evenly;
  width: 80%;
  button {
    align-self: self-end;
  }
}
