<section class="flexy">
  <article class="Mybox text-center">
    <h3>Welcome to this fan-made, unofficial Prehistoria ARPG helper!</h3>

    <p>
      Here, you'll find a few tools to make your prehistoria life a bit easier!
    </p>

    <p><b>Currently functional:</b></p>
    <ul>
      <li>Redeemer</li>
      <li>Activity Form Generator</li>
    </ul>

    <p><b>Currently in progress:</b></p>
    <ul></ul>
    <p>
      <i>Latest Update: 18-12-23</i><br />

      ⭐Added new worg puppy companion⭐
    </p>

    <hr />

    <p>
      <b>Disclaimer:</b> This is NOT official. If there are any calculation or
      generation errors, it is not the responsibility of the game admins.
      Therefore, it is not foolproof, and you should still double-check your
      redeems/activity form before posting, just to be safe!
    </p>

    <p>
      This is a tool created for free during my free time for practice. If you
      spot any issues or have suggestions to improve this app, please let me
      know either on DA or on Discord! Have fun! 😄
    </p>
  </article>
</section>
