<section class="flexy">
  <article class="Mybox text-center">
    <h3>Welcome to this fan-made, unofficial Prehistoria ARPG helper!</h3>

    <p>
      Here, you'll find a few tools to make your prehistoria life a bit
      easier!<br />
      please note at this stage the website is not mobile friendly as I'm
      focusing on developping the tools first!
    </p>

    <p><b>Currently functional:</b></p>
    <ul>
      <li>Redeemer</li>
      <li>Activity Form Generator</li>
      <li>Milestone & crafting checker</li>
    </ul>

    <p><b>Currently in progress:</b></p>
    <ul>
      <li>breeding simulator</li>
      <li>lineage checker</li>
    </ul>
    <p><i>Latest Update: 27-04-25</i><br /></p>
    <ul>
      <li>
        added new items from latest quests/events and updated item redeemer
      </li>
    </ul>

    <hr />

    <p>
      <b>Disclaimer:</b> This is NOT official. If there are any calculation or
      generation errors, it is not the responsibility of the game admins.
      Therefore, it is not foolproof, and you should still double-check your
      redeems/activity form before posting, just to be safe!
    </p>

    <p>
      This is a tool created for free during my free time for practice. If you
      spot any issues or have suggestions to improve this app, please let me
      know either on DA or on Discord! Have fun! 😄
    </p>
  </article>
</section>
